<h1 class="text-center">WINNER</h1>
<h2 class="text-center">WINNER</h2>
<h1 class=" text-center">CHICKEN</h1>
<h2 class="text-center">DINNER</h2>

@{ 
    var data = ViewBag.Message;
}

<h5 class="text-center">You Did It In @data Attempts</h5>