@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form>
        <button asp-controller="Game" asp-action="Index">Click Here TO Start</button>
    </form>
</div>
